In [3]:
import pandas as pd

In [5]:
s1=pd.Series([2,4,6,8])
s1

0    2
1    4
2    6
3    8
dtype: int64

In [9]:
s1=pd.Series([2,4,6,8],index=['a','b','c','d'])
s1

a    2
b    4
c    6
d    8
dtype: int64

In [ ]:
pandas.core.series.Series

In [11]:
t1=(1,2,3,4,5)
s1=pd.Series(t1)
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [15]:
d1={1:"ravi",2:"manish"}
s1=pd.Series(d1)
s1

1      ravi
2    manish
dtype: object

In [17]:
s1[1:2]

2    manish
dtype: object

In [23]:
df=pd.DataFrame([[1,2,3],[2,4,6]])#bcoz 2-d array so use 2 brackets
df

   0  1  2
0  1  2  3
1  2  4  6

In [25]:
df.shape

(2, 3)

In [27]:
df.ndim

2

In [33]:
df=pd.DataFrame([[1,2,3],[2,4,6]],index=['r1','r2'],columns=['col1','col2','col3'])
df#index means rows and columns means columns

    col1  col2  col3
r1     1     2     3
r2     2     4     6